/*General Styling*/

body {
  text-align: center;
}

img {
  width: 95%;
  border-radius: 5%;
  box-shadow: 5px 5px 10px #888;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 1.5em;
}

h1{
  font-size: 3em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2{
  font-size: 2em;
  line-height: .5em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: yellow
}

a:visited {
  color: black;
}

body {
  font: normal 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Header Styling*/

ul {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin-top: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

li {
  padding: 5px 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  background: rgba(63,189,191,.25);
}

.main-header {
  background-image: linear-gradient(to top, rgba(240,248,255,1), rgba(63,189,191,1));
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
}

.title {
  margin: 0 auto;
  padding-bottom: 35px;
  padding-top: 15px;
}

/*Body Style*/

#profile-pic {
  width: 300px;
  height: 250px;
  margin-top: 15px;
  margin-left: 15px;
}

.introduction {
  background-image: linear-gradient(to bottom, rgba(240,248,255,1), rgba(0,0,0,0));
  font-size: 1.5em;
}

.contact {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(240,248,255,1));
  margin: 0 auto;
  box-sizing: border-box;
}

#portfolio {
  margin: 0 auto;
  margin-bottom: .5em;
  text-decoration: underline;
  line-height: 1em;
  display: inline-block;
  width: 100%;
}

.skills {
  width: 100%;
  margin: 0 auto;
}

.skills p {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
}

#skills {
  text-decoration: underline;
  display: inline-block;
  width: 100%;
}

.skills-img {
  padding-bottom: 4em;

}

.portfolio p {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 5em;
}
#contact {
  text-decoration: underline;
  display: inline-block;
  width: 100%;

}
.contact p {
  padding: 5px;
  box-sizing: border-box;
}

#email,
#phone {
  margin: 0 auto;
}

/*Footer Style*/

footer h3 {
  margin: 0 auto;
  display: inline;
}

#top {
  text-align: right;
  margin-right: 10px;
}

.main-footer {
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(240,248,255,1), rgba(63,189,191,1));
  height: 150px;
  border-top: 1px solid lightgrey;
}

#top,
#name {
    display: inline-block;
    margin-top: 1em;
    font-weight: normal;
}

#top {
  float: right;
}

#name {
  float: left;
  margin-left: 1em;
}

#footer-nav {
  display: none;
}

/*Media Queries*/

@media (min-width: 768px) {
  .portfolio,
  .skills-img {
    width: 50%;
    float: left;
  }

  li {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
  }

  .introduction {
    display: inline-block;
    float: left;
    width: 100%;
  }

  #profile-pic {
    float: right;
  }

#top {
  display: none;
  }

#footer-nav {
  display: inline;
  float: right;
  margin: 0 auto;
  }

  .main-footer li {
    background: none;
    margin-top: 1em;
  }
}

@media (min-width: 1024px) {
  .portfolio {
    width: 33.33%;
    float: left;
  }

  .main-header {
      position: relative;
      height: 250px;
  }

  #megan {
    display: inline-block;
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: .25em;
  }

  .main-nav {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .main-nav li {
    background: none;
  }


}

/*Clear Fix*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
