/*General Styling*/

body {
  text-align: center;
}

img {
  width: 95%;
}

p {
  padding: 1.5em;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}

/*Header Styling*/

ul {
  list-style: none;
  display: inline-block;
}

li {
  padding: 5px 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  background: rgba(63,189,191,.25);
}

.main-header {
  background-image: linear-gradient(to top, rgba(240,248,255,1), rgba(63,189,191,1));
  height: 250px;
  margin: 0 auto;
}

.title {
  margin: 0 auto;
  padding-bottom: 35px;
  padding-top: 15px;
}

/*Body Style*/

#profile-pic {
  width: 200px;
  height: 200px;
}

.introduction {
  background-image: linear-gradient(to bottom, rgba(240,248,255,1), rgba(0,0,0,0));
}

.contact {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(240,248,255,1));
}

#portfolio {
  margin: 0 auto;
}

#email,
#phone {
  margin: 0 auto;
}

/*Footer Style*/

footer h3 {
  margin: 0 auto;
  display: inline;
}

#top {
  text-align: right;
}

.main-footer {
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(240,248,255,1), rgba(63,189,191,1));
  height: 150px;
}

#top,
#name {
    display: inline-block;
}

#top {
  float: right;
}

#name {
  float: left;
}

/*Media Queries*/

@media (min-width: 768px) {
  .portfolio {
    width: 50%;
    float: left;
  }

  li {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
  }

  .introduction {
    display: inline-block;
    float: left;
    width: 100%;
  }

  #profile-pic {
    float: right;
  }
}


/*Clear Fix*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
